# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio cache/options
.vs/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
 
# Ignore folders for Impact Analysis, Root Cause Analysis and Test Case Review documents
docs/ImpactAnalysis/
docs/RootCauseAnalysis/
docs/TestCaseReview/